{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row" style="padding: 15px">
            <h1>Réglage des Paramètres</h1>
        </div>
        <div class="row">
            <div class="col-lg-4" style="margin-bottom: 15px">
                <div class="row justify-content-center">
                    <a class="btnEditer col-8" href={{ path("setting.tva.form") }}>
                        <i class="fas fa-dollar-sign"></i><br>
                        <span class="fontArt">Ajouter une TVA</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row justify-content-center" style="margin-bottom: 15px">
                    <a class="btnEditer col-8" href={{ path("setting.paymentMethod.form") }}>
                        <i class="far fa-credit-card"></i><br>
                        <span class="fontArt">Ajouter une Méthode de paiement</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row justify-content-center" style="margin-bottom: 15px">
                    <a class="btnEditer col-8" href={{ path("setting.user") }}>
                        <i class="fas fa-users"></i><br>
                        <span class="fontArt">Gestion des Utilisateurs</span>
                    </a>
                </div>
            </div>
        </div>
    </div>




{% endblock %}